#!/usr/bin/env python3

from gnuradio import blocks
from gnuradio import gr
from gnuradio.filter import firdes
from gnuradio.fft import window
import sys
import signal
from argparse import ArgumentParser
from gnuradio.eng_arg import eng_float, intx
from gnuradio import eng_notation
from gnuradio import zeromq
import threading


class ZMQProxy(gr.top_block):

    def __init__(self):
        gr.top_block.__init__(self, "zmq-proxy", catch_exceptions=True)
        self.flowgraph_started = threading.Event()

        zmq_timeout = 100
        zmq_hwm = -1
        comp_data = {{ ue_data }}

        zmq_req_sources = {key: zeromq.req_source(gr.sizeof_gr_complex, 1, f'tcp://{el["ip"]}:{el["tx_port"]}',
                                                       zmq_timeout, False, zmq_hwm, False)
                                for key, el in comp_data.items()}
        zmq_rep_sinks = {key: zeromq.rep_sink(gr.sizeof_gr_complex, 1, f'tcp://0.0.0.0:{el["rx_port"]}',
                                                   zmq_timeout, False, zmq_hwm, True)
                              for key, el in comp_data.items()}
        blocks_multiply_from_sources = {key: blocks.multiply_const_cc(10 ** (-1.0 * el['path_loss_db'] / 20.0))
                                              for key, el in comp_data.items() if key.startswith('ue')}
        blocks_multiply_from_throttle = {key: blocks.multiply_const_cc(10 ** (-1.0 * el['path_loss_db'] / 20.0))
                                            for key, el in comp_data.items() if key.startswith('ue')}
        blocks_throttle = blocks.throttle(gr.sizeof_gr_complex * 1,
                                          (1.0 * {{ sample_rate }} / (1.0 * {{ slow_down_ratio }})), True)
        blocks_add = blocks.add_vcc(1)

        # Source gNB -> Throttle
        self.connect((zmq_req_sources['gnb'], 0), (blocks_throttle, 0))

        for idx, comp in enumerate([k for k in comp_data.keys() if k.startswith('ue')]):  # Exclude gNB from these conns
            # Throttle -> Multiply -> Sink UE
            self.connect((blocks_throttle, 0), (blocks_multiply_from_throttle[comp], 0))
            self.connect((blocks_multiply_from_throttle[comp], 0), (zmq_rep_sinks[comp], 0))

            # Source UE -> Multiply -> Add
            self.connect((zmq_req_sources[comp], 0), (blocks_multiply_from_sources[comp], 0))
            self.connect((blocks_multiply_from_sources[comp], 0), (blocks_add, idx))

        # Add -> Sink gNB
        self.connect((blocks_add, 0), (zmq_rep_sinks['gnb']))


if __name__ == '__main__':
    proxy = ZMQProxy()

    def sig_handler(sig=None, frame=None):
        proxy.stop()
        proxy.wait()

        sys.exit(0)

    signal.signal(signal.SIGINT, sig_handler)
    signal.signal(signal.SIGTERM, sig_handler)

    proxy.start()
    proxy.flowgraph_started.set()
    print('ZMQ Proxy running.')

    try:
        input('Press Enter to quit: ')
    except EOFError:
        pass
    proxy.stop()
    proxy.wait()
