version: "3.9"

networks:
  internal_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.45.0.0/16  # Internal network subnet

services:
    gnb:
        build: ./srsRAN_Project
        image: {{ image }}
        container_name: srsran_gnb
        privileged: true
        platform: linux/amd64
        networks:
            ran:
                ipv4_address: {{ gnb.ip_config.cu_cp }}
            ric_network:
                ipv4_address: {{ gnb.ip_config.e2 }}
            internal_net:
                ipv4_address: {{ gnb.ip_config.ru_sdr }}
        user: root
        command: ["./build_docker/apps/gnb/gnb", "-c", "./configs/gnb_zmq.yaml"]
        volumes:
            - gnb_interface_log:/logs/gnb
        stdin_open: true
        tty: true
        restart: unless-stopped

volumes:
    gnb_interface_log:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: {{ log_file_path }}