[rf]
freq_offset = 0
tx_gain = 50
rx_gain = 40
srate = {{ ue.srate }}
nof_antennas = 1

device_name = zmq
device_args = tx_port=tcp://0.0.0.0:2001,rx_port=tcp://{{ gnb_ip }}:2000,base_srate={{ ue.srate }}

[rat.eutra]
dl_earfcn = 2850
nof_carriers = 0

[rat.nr]
bands = 3
nof_carriers = 1

[pcap]
enable = none
mac_filename = /tmp/ue_mac.pcap
mac_nr_filename = /tmp/ue_mac_nr.pcap
nas_filename = /tmp/ue_nas.pcap

[log]
all_level = info
phy_lib_level = none
all_hex_limit = 32
filename = /tmp/ue.log
file_max_size = -1

[usim]
mode = {{ usim_mode }}
algo = {{ usim_algo }}
opc  = {{ ue.usim.opc }}
k    = {{ ue.usim.key }}
imsi = {{ ue.usim.imsi }}
imei = {{ ue.usim.imei }}

[rrc]
release = 15
ue_category = 4

[nas]
apn = srsapn
apn_protocol = ipv4

[gw]
netns = {{ ue.gateway.netns }}
ip_devname = {{ ue.gateway.ip_devname }}
ip_netmask = {{ ue.gateway.ip_netmask.broadcast_address }}

[gui]
enable = false
