version: "3.9"
services:
    dbaas:
        container_name: ric_dbaas
        hostname: dbaas
        image: {{ dbaas.image }}
        command: redis-server --loadmodule /usr/local/libexec/redismodule/libredismodule.so
        platform: linux/amd64
        networks:
            ric_network:
                ipv4_address: ${DBAAS_IP:-{{ dbaas.ip }}}
    rtmgr_sim:
        container_name: ric_rtmgr_sim
        hostname: rtmgr_sim
        image: {{ rtmgr_sim.image }}
        platform: linux/amd64
        build:
            context: ./oran-sc-ric/ric
            dockerfile: ./images/rtmgr_sim/Dockerfile
            args:
                SC_RIC_VERSION: ${SC_RIC_VERSION}
        env_file:
            - .env
        environment:
            - CONTAINER_NAME=ric_${RTMGR_SIM_NAME}
            - HOST_NAME=ric_${RTMGR_SIM_NAME}_host
            - POD_NAME=${RTMGR_SIM_NAME}_pod
            - SERVICE_NAME=ric_${RTMGR_SIM_NAME}_service
            - CFGFILE=/cfg/rtmgr-config.yaml
            - RMR_SEED_RT=/opt/config/uta-rtg.rt
            - RMR_SRC_ID=${RTMGR_SIM_IP}
        networks:
            ric_network:
                ipv4_address: ${RTMGR_SIM_IP:-{{ rtmgr_sim.ip }}}
    submgr:
        container_name: ric_submgr
        hostname: submgr
        image: {{ submgr.image }}
        platform: linux/amd64
        build:
            context: ./oran-sc-ric/ric
            dockerfile: ./images/submgr/Dockerfile
            args:
                SUBMGR_VER: ${SUBMGR_VER}
        depends_on:
            - dbaas
        env_file:
            - .env
        environment:
            - CONTAINER_NAME=ric_${SUBMGR_NAME}
            - HOST_NAME=ric_${SUBMGR_NAME}_host
            - POD_NAME=${SUBMGR_NAME}_pod
            - SERVICE_NAME=ric_${SUBMGR_NAME}_service
            - CFG_FILE=/opt/config/submgr-config.yaml
            - RMR_SEED_RT=/opt/config/submgr-uta-rtg.rt
            - RMR_SRC_ID=${SUBMGR_IP}
        command: ./submgr -f $${CFG_FILE}
        networks:
            ric_network:
                ipv4_address: ${SUBMGR_IP:-{{ submgr.ip }}}
    e2term:
        container_name: ric_e2term
        hostname: e2term
        platform: linux/amd64
        image: {{ e2term.image }}
        build:
            context: ./oran-sc-ric/ric
            dockerfile: ./images/e2term/Dockerfile
            args:
                E2TERM_VER: ${E2TERM_VER}
        env_file:
            - .env
        environment:
            - CONTAINER_NAME=ric_${E2TERM_NAME}
            - HOST_NAME=ric_${E2TERM_NAME}_host
            - POD_NAME=${E2TERM_NAME}_pod
            - SERVICE_NAME=ric_${E2TERM_NAME}_service
            - print=1
            - RMR_SEED_RT=/opt/e2/dockerRouter.txt
            - RMR_SRC_ID=${E2TERM_IP}
        command: ./e2 -p config -f config.conf
        networks:
            ric_network:
                ipv4_address: ${E2TERM_IP:-{{ e2term.ip }}}
    appmgr:
        container_name: ric_appmgr
        hostname: appmgr
        image: {{ appmgr.image }}
        build:
            context: ./oran-sc-ric/ric
            dockerfile: ./images/appmgr/Dockerfile
            args:
                APPMGR_VER: ${APPMGR_VER}
        platform: linux/amd64
        env_file:
            - .env
        environment:
            - CONTAINER_NAME=ric_${APPMGR_NAME}
            - HOST_NAME=ric_${APPMGR_NAME}_host
            - POD_NAME=${APPMGR_NAME}_pod
            - SERVICE_NAME=ric_${APPMGR_NAME}_service
            - RMR_SEED_RT=/opt/ric/config/router.txt
            - RMR_SRC_ID=${APPMGR_IP}
        networks:
            ric_network:
                ipv4_address: ${APPMGR_IP:-{{ appmgr.ip }}}
    e2mgr:
        container_name: ric_e2mgr
        hostname: e2mgr
        image: {{ e2mgr.image }}
        build:
            context: ./oran-sc-ric/ric
            dockerfile: ./images/e2mgr/Dockerfile
            args:
                E2MGR_VER: ${E2MGR_VER}
        platform: linux/amd64
        env_file:
            - .env
        environment:
            - CONTAINER_NAME=ric_${E2MGR_NAME}
            - HOST_NAME=ric_${E2MGR_NAME}_host
            - POD_NAME=${E2MGR_NAME}_pod
            - SERVICE_NAME=ric_${E2MGR_NAME}_service
            - RMR_SEED_RT=/opt/E2Manager/router.txt
            - RMR_SRC_ID=${E2MGR_IP}
        command: ./main -port=3800 -f /opt/E2Manager/resources/configuration.yaml
        networks:
            ric_network:
                ipv4_address: ${E2MGR_IP:-{{ e2mgr.ip }}}
    python_xapp_runner:
        container_name: python_xapp_runner
        hostname: python_xapp_runner
        image: {{ python_xapp_runner.image }}
        platform: linux/amd64
        build:
            context: ./oran-sc-ric/
            dockerfile: ./ric/images/ric-plt-xapp-frame-py/Dockerfile
        env_file:
            - .env
        environment:
            - PYTHONUNBUFFERED=0
            - PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python
            - RMR_SEED_RT=/opt/ric/config/uta-rtg.rt
            - RMR_SRC_ID=${XAPP_PY_RUNNER_IP}
            - RMR_RTG_SVC
            - DEBUG=0
        stdin_open: true
        tty: true
        entrypoint:
            - /bin/bash
        networks:
            ric_network:
                ipv4_address: ${XAPP_PY_RUNNER_IP:-{{ python_xapp_runner.ip }}}
networks:
    ric_network:
        ipam:
            driver: default
            config:
                - subnet: {{ ric.subnet }}
